body {
  font-family: "Cairo", sans-serif;
}
:root {
  --mainbtn: #129c9a;
  --colorhover: #2386c8;
  --colortext: #6d6969;
  --backfooter: #86888a;
  --uberfooter: #1d1d1d;
}
.color {
  color: #2386c8;
}
.fs {
  font-size: 12px;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--colorhover);
  border-radius: 5px;
}
/* start navbar */
.nav-link {
  color: #000 !important;
  font-weight: bold;
  font-size: 16px;
}
.logo {
  width: 6%;
}
.navbar-nav li {
  padding: 0px 20px;
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.active {
  color: var(--colorhover) !important;
}
.dropdown-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dropdown-item i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 11px;
  font-weight: bold;
  color: #2386c8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -3px;
}
.dob {
  background-color: #2386c8 !important;
  color: white !important;
  padding: 7px 26px;
  border-radius: 15px;
}
.tran {
  width: 30px;
  height: 30px;
  color: #129c9a;
  border-radius: 50%;
  border: 2px solid #129c9a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.bell {
  position: relative;
  left: -17px;
  top: -8px;
  background-color: hsl(204deg 70% 46% / 50%);
  color: #2386c8;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 477px) {
  .bell{
    top: 0px;
  }
  .long{
    top: 0px;
  }

  
}
@media (max-width:375px) {
  .vlidh a {
    background-color: #2386c8;
    color: white;
    font-weight: bold;
    padding: 6px 31px;
    border-radius: 16px;
}
  
}
.bell::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  top: -1px;
  right: 2px;
}
@media (max-width: 767px) {
  /* .bell {
    display: none;
  } */
  .dob {
    font-size: 12px;
    margin-top: 5px;
  }

  .logo {
    display: none;
  }
}

/* end navbar */
/* start header */
.header {
  padding: 30px 0;
}
.header .tex div {
  margin-top: 30%;
  font-weight: 600;
  font-size: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .tex p {
  font-size: 15px;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .bt a {
  padding: 10px 53px;
  border-radius: 18px;
  color: white;
  font-weight: bold;
  background-color: var(--mainbtn);
  border: none;
  display: block;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 12px;
}
.headerimg {
  width: 70%;
}

@media (max-width: 767px) {
  .areimg {
    display: none;
  }
}
/* end header */
/* start masr */
.maser {
  padding: 30px 0;
}
.maser .bor i {
  color: var(--mainbtn);
  transition: 0.3s;
}
.maser .bor i:hover {
  color: white;
}
.maser .bor p {
  color: #6d6969;
}
.maser .bor {
  border: 1px solid var(--mainbtn);
  border-radius: 12px;
  transition: 0.3s;
}
.maser .bor:hover {
  background-color: #129c9a;
  color: white;
  transform: translateY(-10px);
}
.texmas {
  font-size: 25px;
}

/* end masr */
/* start dowload */
.dowlod {
  padding: 30px 0;
  background-color: #2386c8;
}
.imgdow img {
  cursor: pointer;
  width: 19%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .imgdow img {
    position: relative;
    z-index: 2;
  }
}
.imggro {
  position: relative;
  height: 100%;
}
.imggro img {
  height: 118.5%;
  width: 99%;
  position: relative;
  top: -30px;
}
/* end dowload */
/* start family */
.family {
  padding: 30px 0;
}
.owl-carousel .owl-item img {
  width: 70%;
}
/* end family */
/* start footer */
.footer {
  padding: 30px 0;
  background-color: var(--backfooter);
}
.foottext p {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}
.foottext div {
  font-size: 15px;
}
.links li {
  padding: 7px 0;
  list-style: inside;
}
.links li::marker {
  color: white !important;
  font-size: 10px;
}
.links a {
  text-decoration: none !important;
  color: white;
  font-size: 12px;
}
/* end footer */
/* start ubfooter */
footer {
  background-color: #000;
  padding: 5px 0;
}
.tup {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .tup {
    font-size: 10px;
  }
}
.footerr {
  background-color: #000;
  padding: 5px 0;
  margin-bottom: -42px
}
.tupp {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .tupp {
    font-size: 10px;
  }
}
/* end ubfooter */
/* start loder */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: not-allowed;
  /* scale: 0.7; */
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999999999999;
  background-color: black;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0.5em 1em 1em #129c9a, -0.5em 0.5em 1em red,
    0.5em -0.5em 1em #2386c8, -0.5em -0.5em 1em cyan;
}

.external-shadow {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0.5em 0.5em 3em blueviolet, -0.5em 0.5em 3em blue,
    0.5em -0.5em 3em purple, -0.5em -0.5em 3em cyan;
  z-index: 999;
  animation: rotate 3s linear infinite;
  background-color: #212121;
}

.intern {
  position: absolute;
  color: white;
  z-index: 9999;
}

.intern::before {
  content: "100%";
  animation: percent 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes percent {
  0% {
    content: "0%";
  }

  25% {
    content: "25%";
  }

  33% {
    content: "33%";
  }

  42% {
    content: "42%";
  }

  51% {
    content: "51%";
  }

  67% {
    content: "67%";
  }

  74% {
    content: "74%";
  }

  75% {
    content: "75%";
  }

  86% {
    content: "86%";
  }

  95% {
    content: "95%";
  }

  98% {
    content: "98%";
  }

  99% {
    content: "99%";
  }
}

/* end lodar */
/* end loder */

/* start emplo page */
.homed {
  padding: 5px 0;
}
.emplo {
  padding: 30px 0;
  background-color: #f1f5f8;
}
.omh p {
  color: #86888a;
  font-size: 12px;
  background-color: #fff;
}
.emplo .main-em {
  width: 100%;
  padding: 8px 7px;
  border-radius: 24px;
  border: none;
  color: #ddd;
}



.emplo .main-em .option {
  font-size: 12px;
  font-weight: bold;
}
.emplo a{
text-decoration-line: revert;
font-size: 12px;
}
.trateb{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
   
}
.trateb p {
   width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #6d6969;
    text-align: center;
}
.bbtr{
  background-color: #ccc !important;
  color: #f1f5f8!important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
}
.prte{
  background-color: #129c9a !important;
  color: white !important;
}
.non{
 border-radius: 0!important;
 border: 0!important;
 font-weight: 600;
 background-color: #f1f5f8;
}
/* end emplo */
/* start free  */
.free{
  padding: 30px 0;
}
.boxfree{
  border: 2px solid #ccc;
  border-top-color: #129c9a;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  
}
.ywo{
  background-color: orange;
  width: 12px;
  height: 12px;
  font-size: 12px;
  color: white;
}
.color2{
  color: #129c9a;
  font-size: 12px;
  font-weight: bold;
}
.color3{
  color: #129c9a;
}
.eng{
  display: flex;
  
}
.eng img{
  width: 32px;
    height: 32px;
    border-radius: 4px;
}
.fhg{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px;
}
.skil{
  justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 15px;
}
@media (max-width:767px) {
  .skil {

    flex-direction: column;
    align-items: flex-start;
}
  
}
@media (max-width:992px) {
  .skil {

    flex-direction: column;
    align-items: flex-start;
}
  
}
/* end free  */

/* end emplo page */
/* start freedetils page */
.condtion{
  border: 1px solid #ccc;
  border-radius: 8px;
}
.cond {
  font-size: 18px;
    margin: 5px;
}
.detil{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 767px) {
  .detil {
    
    flex-direction: column;
    align-items: flex-start;
}
  
}
.forsa{
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 15px;
}
.forsa div{
  margin: 5px ;
  font-weight: bold;

}
@media (max-width:767px) {
  .forsa div {
   
    font-size: 13px;
}
  
}
.mult-select-tag .wrapper {
    width: 96%;
}
iframe{
  width: 100%;
}
 .btnm button{
  background-color: #2386c8;
  border: none;
  color: white;
  padding: 8px 35px;
  border-radius: 20px;
user-select: none;
 }
 .btnm button:focus{
  outline: none;
 }
 .coreect i {
 color: #129c9a;
 width: 30px;
 height: 30px;

 }
 
.shar{
  border: 1px solid #ccc;
padding: 13px 12px;
    border-radius: 8px;
}
@media (max-width:767px) {
  .shar{
    margin-top: 10px;
  }
  
}
.icoshar i{
  padding: 0px 5px;
  font-size: 17px;
}
.condd{
  color: #129c9a;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
.condf{
  color: #2386c8;
  font-size: 12px;
}

/* end freedetils page */
/* start askpage */
.acco{
  padding: 30px 0;
}
.accone{
  background-color: white !important;
  color: #2386c8 !important;

}
.accordion-item{
  margin-bottom: 15px !important;
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    position: absolute;
    left: 3%;
}
/* end askpage */
/* start who */
.whyou{
  padding: 50px 0;
}
/* end who */
/* start request page */
.requestpag{
  padding: 55px 0;
}
.requestno{
  display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.mogam{
  border: 1px solid #ccc;
  width: 23%;
    padding: 30px;
    border-radius: 8px;
}
@media (max-width:767px) {
  .mogam{
    width: 50%;
    font-size: 10px;
  }
  
}
@media (max-width:799px) {
  .mogam{
    width: 50%;
  }
  
}
@media (max-width:992px) {
  .mogam{
    width: 50%;
  }
  
}
@media (max-width:1024px) {
  .mogam{
    width: 50%;
  }
  
}
.mogam i {
  color: #2386c8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  /* text-align: center; */
  padding: 10px 0;
}
.info {
  text-align: left;
  color: #129c9a;
  font-size: 12px;
}
.infod{
  margin-top: -12px;
}


/* end request page */
/* satart locationjoppage */
.interjop{
  padding: 30px 0;
}
.fhgb{
  float: left;
}
.inetrm{
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}
.intt{
  display: flex;
    gap: 5px;
}
.intt i{
  color: #2386c8;
  border: 1px solid #2386c8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trdfaa{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abdaluse i{
  width: 50px ;
  height: 50px;
  border: 1px solid #2386c8;
  font-size: 20px;
  border-radius: 50%;
  padding: 7px 0;
}
/* end locationjoppage */
/* start page noties */
.allnoties{
  padding: 76px 0;
}
.mynoticesone {
border: 1px solid #ccc;
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
        border-radius: 4px;

}
.allnoties .notsone i {
width: 30px;
height: 30px;
background-color: #2386c8;
color: white;
border-radius: 50%;
padding: 6px 0;
text-align: center;
}
.notscloseone i{
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.mynoticestwo {
border: 1px solid #ccc;
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
        border-radius: 4px;

}
.allnoties .notsone i {
width: 30px;
height: 30px;
background-color: #2386c8;
color: white;
border-radius: 50%;
padding: 6px 0;
text-align: center;
}
.notsclosetwo i{
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.mynoticesthree {
border: 1px solid #ccc;
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 4px;
}
.allnoties .notsone i {
width: 30px;
height: 30px;
background-color: #2386c8;
color: white;
border-radius: 50%;
padding: 6px 0;
text-align: center;
}
.notsclosethree i{
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.mynoticesfour {
border: 1px solid #ccc;
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 4px;
}
.allnoties .notsone i {
width: 30px;
height: 30px;
background-color: #2386c8;
color: white;
border-radius: 50%;
padding: 6px 0;
text-align: center;
}
.notsclosefour i{
  font-size: 20px;
  color: red;
  cursor: pointer;
}
.mynoticesfif {
border: 1px solid #ccc;
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 4px;
}
.allnoties .notsone i {
width: 30px;
height: 30px;
background-color: #2386c8;
color: white;
border-radius: 50%;
padding: 6px 0;
text-align: center;
}
.notsclosefif i{
  font-size: 20px;
  color: red;
  cursor: pointer;
}
/* end page noties */